.music-card {
  --card-width: calc(15% - 30px);
  position: relative;
  background-color: var(--dimmed-background-black);
  border-radius: var(--main-border-radius);

  color: white;
  text-align: left;
  transition: transform 0.5s;
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;
  isolation: isolate;
  flex: 0 0 var(--card-width);
  overflow-wrap: anywhere;
  gap: 20px;
}

.music-card p {
  margin: 0 0.2rem 0 0.4rem;

  padding-left: 5px;
}
.music-card img {
  width: 100%;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
  aspect-ratio: 16/14;
  box-shadow: 0px 3px 10px black;
}
.music-card__title {
  font-weight: 700;
  font-size: clamp(0.7rem, 3vw, 0.9rem);
}
.music-card__author {
  font-weight: 600;
  font-size: clamp(0.6rem, 3vw, 0.8rem);
}

.button--music-card {
  margin-top: auto !important;
}

.button--song-card-close {
  position: absolute;
  right: 5px;
  top: -12px;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--dimmed-background-black-1);
}

.more-info__desktop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  text-align: center;
  z-index: -1;
  transition: transform 0.3s;
  background-color: var(--dimmed-background-black);
  border-radius: var(--main-border-radius);
  color: var(--main-color);
  padding: 0.5rem 0;
  height: 60px;
  font-weight: 700;
}
.music-card:hover .more-info__desktop {
  transform: translateY(-35px);
}
.more-info__mobile {
  position: absolute;
  top: 5px;
  left: 8px;
  font-size: 1.5rem;
  color: var(--main-color);
  background-color: var(--dimmed-background-black-1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
@media (min-width: 2200px) {
  .music-card {
    --card-width: calc(10% - 30px);
  }
}
@media (max-width: 1500px) {
  .music-card {
    --card-width: calc(25% - 30px);
  }
}
@media (max-width: 1000px) {
  .music-card {
    --card-width: calc(33% - 30px);
  }
}
@media (max-width: 800px) {
  .music-card {
    --card-width: calc(50% - 30px);
  }
}
@media (max-width: 500px) {
  .music-card {
    --card-width: 80%;
  }
  .music-card img {
    min-height: 200px;
  }
}
