.loader {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 40px));
  grid-template-rows: repeat(3, minmax(0, 40px));
  gap: 3px;
  transition: all 0.2s;
  justify-content: center;
  margin: 5rem 0;
}
.loader__tile {
  transition: all 0.3s;
  background-color: var(--dimmed-background-black);
  box-shadow: inset 0 0 2px 2px var(--dimmed-background-black-1);
  border-radius: 5px;
  &.blink {
    opacity: 0;
  }
}
