:root {
  --card-width: calc(16.666666666% - 30px);
}
.music-card {
  position: relative;
  background-color: var(--dimmed-background-black);
  border-radius: var(--main-border-radius);
  /* overflow: hidden; */
  min-height: 27rem;
  color: white;
  text-align: left;
  transition: transform 0.5s;
  box-shadow: var(--main-box-shadow);
  display: flex;
  flex-direction: column;

  flex: 0 0 var(--card-width);
}

.music-card p {
  margin-left: 1rem;
}
.music-card img {
  width: 100%;
  border-radius: var(--main-border-radius) var(--main-border-radius) 0 0;
  aspect-ratio: 16/14;
  box-shadow: 0px 3px 10px black;
}
.music-card__title {
  font-weight: 700;
  font-size: clamp(0.6rem, 5vw, 1rem);
}
.music-card__author {
  font-weight: 600;
  font-size: clamp(0.5rem, 5vw, 0.9rem);
}
.music-card__album {
  font-weight: 500;
  font-size: clamp(0.4rem, 5vw, 0.8rem);
}
.music-card__badge {
  font-size: 2rem;
  color: var(--main-color);
  background-color: var(--dimmed-background-black);
  border-radius: 5px;
  width: 40px;
  padding: 5px;
  z-index: 150;
  box-shadow: var(--main-box-shadow);
  position: absolute;
  top: -50px;
  right: 5px;
}
.button--music-card {
  margin-top: auto !important;
}

.button--song-card-close {
  position: absolute;
  right: 10px;
  top: -10px;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: var(--dimmed-background-black-1);
}
@media (max-width: 1300px) {
  :root {
    --card-width: calc(33.3333333% - 30px);
  }
}
@media (max-width: 800px) {
  :root {
    --card-width: calc(50% - 30px);
  }
}
@media (max-width: 500px) {
  :root {
    --card-width: 80%;
  }
}
