.overlay {
  display: grid;
  max-width: var(--max-width);

  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

  grid-gap: 10px;
  margin: 3rem auto;
}

@media (max-width: 350px) {
  .overlay {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
} ;
