.charts__item {
  background-color: var(--dimmed-background-black);
  border-radius: var(--main-border-radius);
  font-size: 0.9rem;
  color: white;
  display: grid;
  grid-template-columns: 30% 1fr;
  box-shadow: var(--main-box-shadow);
  padding: 4px 8px;
  gap: 15px;
  align-items: center;
  position: relative;
  cursor: pointer;
  &:hover {
    background-color: var(--dimmed-background-black-1);
    svg {
      fill: white;
    }
  }
  &:nth-of-type(1) {
    margin-bottom: 1rem;
    padding: 12px 8px;
    img {
      width: 60px;
      height: 60px;
    }
  }
  @media (max-width: 1200px) {
    grid-template-columns: 40% 1fr;
  }
  @media (max-width: 800px) {
    grid-template-columns: 70% 1fr;
  }
  @media (max-width: 450px) {
    grid-template-columns: 100% 1fr;
  }
}
.group-first,
.group-second {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  max-width: 100%;
  & svg {
    font-size: 1.25rem;
    fill: var(--dimmed-background-black-1);
  }

  &--basics {
    gap: 15px;
  }
  &--duration {
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &--album {
    padding-right: 10px;
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  &--listeners {
    @media (max-width: 450px) {
      display: none;
    }
  }
}

.position {
  font-size: 1.15rem;
}
.item__image-wrapper {
  img {
    border-radius: 2px;
    width: 50px;
    height: 50px;
    box-shadow: var(--main-box-shadow);
  }
}
.item__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;

  p {
    margin: 0;
    border-left: 3px solid var(--dimmed-background-black);

    padding-left: 5px;
  }
}
.notification {
  position: absolute;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-color);
  left: 0;
  top: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dimmed-background-black-1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: var(--main-border-radius);
}
