.charts__item {
  background-color: var(--dimmed-background-black);
  border-radius: var(--main-border-radius);
  font-size: 0.9rem;
  color: white;
  display: flex;
  flex-direction: column;
  box-shadow: var(--main-box-shadow);
  padding: 15px 0;
  justify-content: space-around;
  gap: 15px;
}
.item__image-wrapper {
  margin: 0 auto;
  img {
    border-radius: var(--main-border-radius);
    width: 180px;
    height: 180px;
    box-shadow: var(--main-box-shadow);
  }
}
.item__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 15px;
  p {
    margin: 0;
    border-left: 3px solid var(--dimmed-background-black);
    white-space: nowrap;
    overflow: hidden;
    padding-left: 5px;
    text-overflow: ellipsis;
  }
}
