.playlist {
  position: relative;
  background-color: var(--dimmed-background-black);
  flex: 0 0 calc(25% - 15px);
  color: white;
  border-radius: var(--main-border-radius);
  overflow-wrap: anywhere;
  padding: 30px 10px 0px 10px;
}

.playlist__title {
  color: var(--main-color);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 0.5rem;
}
.playlist__list {
  list-style: none;
  padding: 0 1rem;
  overflow: hidden;
  margin: 0 0 1rem 0;
}

.button--show-more {
  font-size: 1.5rem;
  box-shadow: none;
  background-color: transparent;
  margin: 0 auto;
  transition: all 0.3s;
}
.button--show-more:focus {
  animation: none;
}
.button--show-more.active {
  transform: rotateZ(180deg);
}
.button--playlist-close {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 1rem;
  padding: 0.5rem;
}
.isEmpty {
  color: var(--main-color);
  text-align: center;
}
@media (max-width: 1100px) {
  .playlist {
    flex: 0 0 calc(50% - 15px);
    color: white;
  }
}
