.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings__title {
  font-size: clamp(1.25rem, 5vw, 2rem);
  background-color: var(--dimmed-background-black);
  display: inline-block;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  max-width: 100%;
}
.settings__list {
  list-style: none;
  background-color: var(--dimmed-background-black);
  padding: 2rem;
  border-radius: var(--main-border-radius);
  box-shadow: var(--main-box-shadow);
  width: 600px;
  max-width: 95%;
}
.settings__list li {
}
.settings__intro {
  font-weight: 600;
  color: white;
  margin: 1rem 0;
  padding: 1rem;
  background-color: var(--dimmed-background-black-1);
  border-radius: var(--main-border-radius);
  border: 2px solid var(--main-color);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__list li i {
  color: var(--main-color);
  font-size: 1.5rem;
}
.settings__list li:last-child i {
  color: red;
}
