.music-list-card {
  position: relative;
  background-color: var(--dimmed-background-black);
  border-radius: var(--main-border-radius);

  height: auto;
  color: white;
  text-align: center;
  transition: transform 0.5s;
  box-shadow: var(--main-box-shadow);
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  /* isolation: isolate; */
  transition: all 0.5s;
  flex: 0 0 var(--card-width);
}

.music-card p {
  margin-left: 1rem;
}

.music-list-card__title {
  font-weight: 700;
  font-size: clamp(0.6rem, 5vw, 0.8rem);
  margin: 16px auto;
  overflow-wrap: anywhere;
  text-decoration: none;
  color: white;
}
.button--music-list-card {
  margin: 0 0 0 0.5rem;
  padding: 0px 3px;
  font-size: 1.5rem;
}

.button--song-card-close {
  margin: 0 0.5rem 0 0;
  padding: 5px 7px;
  font-size: 1rem;
}
