.filter-form {
  margin: 1rem auto;
  width: 400px;
  max-width: 95%;
  text-align: center;
}
.filter-form input {
  background-color: var(--dimmed-background-black);
  box-shadow: var(--main-box-shadow);
  border-radius: var(--main-border-radius);
  color: var(--main-color);
  width: clamp(200px, 25vw, 400px);
  height: clamp(30px, 5vw, 50px);
  max-width: 100%;
  border: none;
  padding-left: 20px;
  font-size: 16px;
}
.filter-form input:focus {
  border: none;
  outline: none;
}
.filter-form label {
  font-weight: 700;
  color: black;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  text-transform: uppercase;
  padding-bottom: 1rem;
  padding-top: 1rem;
  display: block;
}
@media (max-width: 1300px) {
  .filter-form {
    margin: 3rem auto 0 auto;
  }
}
