.login-form {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  position: relative;
  gap: 1rem;
  background-color: var(--dimmed-background-black);
  padding: clamp(1rem, 5vw, 2rem);
  border-radius: var(--main-border-radius);

  width: 23rem;
  max-width: var(--max-width);
}
.login-form label {
  font-weight: 700;
  font-size: 1.25rem;
  color: white;
}
.login-form input {
  min-width: 0;
  background-color: var(--dimmed-background-black);
  color: var(--main-color);
  font-size: 16px;
  padding: 0.3rem;
  border-radius: var(--main-border-radius);
}
.login-form input:focus {
  outline: none;
}

