.player {
  margin-top: 2rem;
  display: flex;
  padding: 1.5rem 0.5rem;
  flex-direction: column;
  width: 500px;
  align-items: center;
  max-width: var(--max-width);
  border-radius: var(--main-border-radius);
  background-color: var(--dimmed-background-black);
  row-gap: 1rem;
  box-shadow: var(--main-box-shadow);
}
.player__album-cover {
  max-width: var(--max-width);
  max-height: 500px;
  border-radius: var(--main-border-radius);
  box-shadow: 0 0 15px 2px black;
}
.player__song-title {
  color: var(--main-color);
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
}
.player__song-artist {
  color: white;
  margin: 0;
  font-weight: 600;
}
.player__progress-bar {
  border-radius: var(--main-border-radius);

  height: 5px;
  background-color: var(--main-color);
  width: 95%;
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
}
.player__progress-bar__filling {
  border-radius: var(--main-border-radius);
  position: absolute;

  height: 100%;

  background-color: var(--dimmed-background-black-1);
}
.player__progress-bar__filling::after {
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  content: "";
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
}
.player__progress-bar__current {
  position: relative;
  top: -25px;
  color: white;
}
.player__progress-bar__left {
  position: absolute;
  top: -25px;
  right: 0;
  color: white;
}
.player__buttons-wrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: space-around;
}
.player__buttons {
  font-size: clamp(1.2rem, 5vw, 2rem);
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.player__buttons.active {
  color: var(--main-color);
}
.player__buttons--small {
  font-size: clamp(0.8rem, 5vw, 1.3rem);
}
.player__buttons--main {
  font-size: clamp(2rem, 10vw, 4rem);
  border-radius: 50%;
  transition: all 0.1s;
  position: relative;
  isolation: isolate;
}
.player__buttons--main::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 120%;
  height: 120%;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
.player__buttons--main.ripple.player__buttons--main::before {
  animation: ripple 0.5s forwards ease-out;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0.6);
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.player__volume-wrapper {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
.player__volume-bar {
  border-radius: var(--main-border-radius);

  height: 4px;
  background-color: var(--main-color);
  width: 60%;
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
}
.player__volume-bar__filling {
  border-radius: var(--main-border-radius);
  position: absolute;

  height: 100%;

  background-color: var(--dimmed-background-black-1);
}
.player__volume-bar__filling::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
