.player__console-wrapper {
  display: flex;
  width: auto;
  flex-direction: column;
  max-width: 100%;
  justify-content: center;
  border-radius: var(--main-border-radius);
  background-color: var(--dimmed-background-black);
  margin: auto;
  padding: 0.3rem 1rem;
  text-align: center;
  min-width: 200px;
}
.player__console__buttons-wrapper {
  display: flex;
  width: auto;
  max-width: 100%;
  justify-content: center;
}
.player__song-title {
  color: var(--main-color);
  margin: 0;
  font-weight: 700;
  font-size: 1.2rem;
}
.player__buttons {
  font-size: clamp(0.7rem, 5vw, 1rem);
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s;
}

.player__buttons.active {
  color: var(--main-color);
}
.player__buttons--small {
  font-size: clamp(0.5rem, 5vw, 0.8rem);
}
.player__buttons--main {
  font-size: clamp(1rem, 10vw, 2rem);
  border-radius: 50%;
  transition: all 0.1s;
  position: relative;
  isolation: isolate;
}
.player__buttons--main::before {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 120%;
  height: 120%;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
}
