.button {
  background-color: var(--dimmed-background-black);
  border: none;
  color: var(--main-color);
  padding: 0.5rem 1rem;
  margin: 1rem auto 0.5rem auto;
  border-radius: 10px;
  cursor: pointer;
  display: block;
}
.button:focus {
  animation: buttonRipple 0.4s forwards linear;
}
@keyframes buttonRipple {
  0% {
    box-shadow: none;
    transform: scale(1);
  }
  25% {
    box-shadow: 0 0 10px 5px var(--main-color);
    transform: scale(0.95);
  }
  50% {
    box-shadow: 0 0 10px 10px var(--main-color);
    transform: scale(0.9);
  }
  75% {
    box-shadow: 0 0 10px 5px var(--main-color);
    transform: scale(0.95);
  }
  100% {
    box-shadow: none;
    transform: scale(1);
  }
}
