.overlay {
  display: flex;
  flex-direction: row;
  max-width: 90%;
  flex-wrap: wrap;
  margin: auto;
  padding: 5rem 0;
  gap: 20px;
}
@media (max-width: 500px) {
  .overlay {
    flex-direction: column;
  }
}
